/* Estilo general de fondo oscuro */
body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh; /* Asegura que el cuerpo ocupe al menos la altura de la ventana */
}

/* Estilo del formulario */
#formulario {
  text-align: center;
  padding: 20px;
}

#pokemon {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 2px solid #3498db;
  padding: 10px 20px; /* Aumenta el padding para hacerlo más grande */
  margin-right: 10px;
  font-size: 16px; /* Cambia el tamaño de fuente si es necesario */
}

input[type="submit"] {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  padding: 10px 20px; /* Aumenta el padding para hacerlo más grande */
  cursor: pointer;
  font-size: 16px; /* Cambia el tamaño de fuente si es necesario */
}

/* Estilo del contenedor de la lista */
#contenedorPokemon,
#imagenPokemon {
  text-align: center;
  margin: 20px auto;
  border: 2px solid #3498db;
  padding: 10px;
  width: 50%;
  background-color: #1e1e1e;
}

/* Estilo de la lista */
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  font-size: 30px;
}

/* Estilo del logotipo */
header {
  text-align: center;
  margin-top: 20px; /* Espacio superior para separar el logotipo del contenido */
}

header img {
  display: block;
  height: 300px;
}

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after {
  position: absolute;
  top: 0;
  content: "";
}

.jimu-primary-loading:before {
  left: -19.992px;
}

.jimu-primary-loading:after {
  left: 19.992px;
  -webkit-animation-delay: 0.32s !important;
  animation-delay: 0.32s !important;
}

.jimu-primary-loading:before,
.jimu-primary-loading:after,
.jimu-primary-loading {
  background: #076fe5;
  -webkit-animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  animation: loading-keys-app-loading 0.8s infinite ease-in-out;
  width: 13.6px;
  height: 32px;
}

.jimu-primary-loading {
  text-indent: -9999em;
  margin: auto;
  position: absolute;
  right: calc(50% - 6.8px);
  top: calc(50% - 16px);
  -webkit-animation-delay: 0.16s !important;
  animation-delay: 0.16s !important;
}

@-webkit-keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

@keyframes loading-keys-app-loading {
  0%,
  80%,
  100% {
    opacity: 0.75;
    box-shadow: 0 0 #076fe5;
    height: 32px;
  }

  40% {
    opacity: 1;
    box-shadow: 0 -8px #076fe5;
    height: 40px;
  }
}

.hidden {
  display: none;
}